*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html

user_guide/*
AdminLTE-2.3.6/*
Lampiran_20161028/*
AdminLTE-2.3.6.zip
Codeigniter-3.1.0.zip
Lampiran_20161028.zip
evoting.rar
evoting.tar.gz
tbl_dpt.sql
uploads.zip
wiredesignz-codeigniter-modular-extensions-hmvc-53edddfc167e/*
wiredesignz-codeigniter-modular-extensions-hmvc-53edddfc167e.zip